 #contactArea:before {
    background-repeat: repeat !important;
    background-repeat-x: repeat !important;
    background-repeat-y: repeat !important;
}
#contactArea:before {
    background-size: auto !important;
}
#contactArea:before {
    background-image: url("assets/img/pattern.png") !important;
}

.botaoWhats:hover{
    margin-bottom: 5px;
    margin-right: 5px;
}

.rodapeSmall{
    font-size: 1px !important;
    text-align: center;
    text-decoration: none !important;
}

.rodapeCorreto{
    font-size: 14px;
    color:#F1F1F1;
    align-items: inherit;
    /*margin-left: 180px;*/
    margin-right: 0;
    text-align: center;
}

.textoBrancoFooter {
    color: white !important;
    font-size: 13px;
}

.textoCinza {
    color: gray !important;
}

.textoAzul {
    color: #10285d !important;
}

.textoBrancoNeutro{
    color: #fff !important;
}

.formContact{
    height:50px;
    border-color:rgba(56, 56, 56, 0.651);
    font-size:14px;
    color:#999999;
    padding-left:10px;
    border-radius:20;
    border-right:0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1;
    min-width: 100%;
}

.formContact::placeholder{
    color:#999999;
}

.btnContactNew{
    background: #fff;
    color: #2e4a70 !important;
    display: inline-block;
    padding: 18px 18px;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #2e4a70;
    letter-spacing: 3px;
    text-align: center;
    color: #2e4a70;
    text-transform: uppercase;
    cursor: pointer;
}

.btnContactNew:hover {
    background: #2e4a70;
    color: #fff !important;
    border: 1px solid #2e4a70;
  }

.btnContact {
    border: none;
    padding: 10px 31px 10px 31px;
    text-transform: capitalize;
    border-radius: 0px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #2b3e4d, #355b9a, #2b3e4d);
    background-position: right;
  }

  .btnContact:hover i {
    left: 30px;
  }
  
  /* line 275, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_common.scss */
  .btnContact:hover {
    background-position: left;
  }
  
 /* The sidebar menu */
 .sidenav {   
    width: 130px; /* Set the width of the sidebar */
    height: 220px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 200; /* Stay at the top */
    left: 5px;
    background-color: #111; /* Black */
    opacity: 40%;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .mainSidenav {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 12px;}
    .sidenav a {font-size: 14px;}
  }

  .progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #969696;
    font-size: 24px;
    color: #363636;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

/* ######################################################## */
/* ########## PROGRESS BAR CLASS NAMING - START ########### */
/* ######################################################## */

/* LOADING 01 - 10% PROGRESS - START */
.progress.dezPorc .progress-bar{
    border-color: #234e76;
}
.progress.dezPorc .progress-right .progress-bar{
    animation: loading-1 1s linear forwards 1.8s;
}
/* LOADING 01 - 10% PROGRESS - END */

/* ######################################################## */

/* LOADING 02 - 20% PROGRESS - START */
.progress.vintePorc .progress-bar{
    border-color: #234e76;
}
.progress.vintePorc .progress-right .progress-bar{
    animation: loading-2 1s linear forwards 1.8s;
}
/* LOADING 02 - 20% PROGRESS - END */

/* ######################################################## */

/* LOADING 03 - 30% PROGRESS - START */
.progress.trintaPorc .progress-bar{
    border-color: #234e76;
}
.progress.trintaPorc .progress-right .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
/* LOADING 03 - 30% PROGRESS - END */

/* ######################################################## */

/* LOADING 04 - 40% PROGRESS - START */
.progress.quarentaPorc .progress-bar{
    border-color: #234e76;
}
.progress.quarentaPorc .progress-right .progress-bar{
    animation: loading-4 1s linear forwards 1.8s;
}
/* LOADING 04 - 40% PROGRESS - END */

/* ######################################################## */

/* LOADING 05 - 50% PROGRESS - START */
.progress.cinquentaPorc .progress-bar{
    border-color: #234e76;
}
.progress.cinquentaPorc .progress-right .progress-bar{
    animation: loading-5 1s linear forwards 1.8s;
}
/* LOADING 05 - 50% PROGRESS - END */

/* ######################################################## */

/* LOADING 06 - 60% PROGRESS - START */
.progress.sessentaPorc .progress-bar{
    border-color: #234e76;
}
.progress.sessentaPorc .progress-right .progress-bar{
    animation: loading-6 1s linear forwards 1.8s;
}
/* LOADING 06 - 60% PROGRESS - END */

/* ######################################################## */

/* LOADING 07 - 70% PROGRESS - START */
.progress.setentaPorc .progress-bar{
    border-color: #234e76;
}
.progress.setentaPorc .progress-right .progress-bar{
    animation: loading-7 1s linear forwards 1.8s;
}
/* LOADING 07 - 70% PROGRESS - END */

/* ######################################################## */

/* LOADING 08 - 80% PROGRESS - START */
.progress.oitentaPorc .progress-bar{
    border-color: #234e76;
}
.progress.oitentaPorc .progress-right .progress-bar{
    animation: loading-8 1s linear forwards 1.8s;
}
/* LOADING 08 - 80% PROGRESS - END */

/* ######################################################## */

/* LOADING 09 - 90% PROGRESS - START */
.progress.noventaPorc .progress-bar{
    border-color: #234e76;
}
.progress.noventaPorc .progress-right .progress-bar{
    animation: loading-9 1s linear forwards 1.8s;
}
/* LOADING 09 - 90% PROGRESS - END */

/* ######################################################## */

/* LOADING 10 - 100% PROGRESS - START */
.progress.cemPorc .progress-bar{
    border-color: #2E8B57;
}
.progress.cemPorc .progress-right .progress-bar{
    animation: loading-10 1s linear forwards 1.8s;
}

.progress.cemPorc .progress-left .progress-bar{
    animation: loading-11 1s linear forwards 1.8s;
}
/* LOADING 10 - 100% PROGRESS - END */

/* ######################################################## */

/* LOADING 00 - 0% PROGRESS - START */
.progress.zeroPorc .progress-right .progress-bar{
    animation: loading-00 1s linear forwards 1.8s;
}
/* LOADING 0 - 0% PROGRESS - END */

/* ######################################################## */
/* ########### PROGRESS BAR CLASS NAMING - END ############ */
/* ######################################################## */

.paddingContact{
    padding: 5px 5px;
}

.paddingLeft {
    padding-left: 5px;
}

input[type=text] {
    width: 100%;
    padding: 20px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

/* ######################################################## */
/* ########### PROGRESS BAR ADJUSTMENTS - START ########### */
/* ######################################################## */

/* LOADING 01 - 10% PROGRESS - START */
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
/* LOADING 01 - 10% PROGRESS - END */

/* ######################################################## */

/* LOADING 02 - 20% PROGRESS - START */

@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}

/* LOADING 02 - 20% PROGRESS - END */

/* ######################################################## */

/* LOADING 03 - 30% PROGRESS - START */
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}

/* LOADING 03 - 30% PROGRESS - END */

/* ######################################################## */

/* LOADING 04 - 40% PROGRESS - START */

@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

/* LOADING 04 - 40% PROGRESS - END */

/* ######################################################## */

/* LOADING 05 - 50% PROGRESS - START */

@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/* LOADING 05 - 50% PROGRESS - END */

/* ######################################################## */

/* LOADING 06 - 60% PROGRESS - START */

@keyframes loading-6{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(216deg);
        transform: rotate(216deg);
    }
}

/* LOADING 06 - 60% PROGRESS - END */

/* ######################################################## */

/* LOADING 07 - 70% PROGRESS - START */

@keyframes loading-7{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(252deg);
        transform: rotate(252deg);
    }
}

/* LOADING 07 - 70% PROGRESS - END */

/* ######################################################## */

/* LOADING 08 - 80% PROGRESS - START */

@keyframes loading-8{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(288deg);
        transform: rotate(288deg);
    }
}

/* LOADING 08 - 80% PROGRESS - END */

/* ######################################################## */

/* LOADING 09 - 90% PROGRESS - START */

@keyframes loading-9{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(324deg);
        transform: rotate(324deg);
    }
}

/* LOADING 09 - 90% PROGRESS - END */

/* ######################################################## */

/* LOADING 10 - 100% PROGRESS - START */

@keyframes loading-10{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-11{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/* LOADING 10 - 100% PROGRESS - END */

/* ######################################################## */

/* LOADING 00 - 0% PROGRESS - START */

@keyframes loading-00{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/* LOADING 00 - 0% PROGRESS - END */

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/* ######################################################## */
/* ############ PROGRESS BAR ADJUSTMENTS - END ############ */
/* ######################################################## */

.topBlog{
    /*background-image:url(../img/bg-topo.jpg);*/
    /*background-image:url(../img/teste01.jpeg);*/
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

@media only screen and (min-width: 1000px){
    .progressTelaMenor{ 
        margin-left: 15%;
        width: 70%;
     }
}

@media only screen and (min-width: 969px){
    .ajustePt140EdOuroVerdeTitulo .pt-140{ 
        margin-top: 20px;
     }
}

@media only screen and (min-width: 969px){
    .ajusteBarraCarrossel{ 
        min-height: 20px;
     }
}